/Backend/node_modules
/Backend/Data
/Frontend/node_modules
/.idea/workspace.xml
Frontend/.env
/.env
.env
/Backend/.idea/Backend.iml
/Backend/.idea/modules.xml
/Backend/.idea/vcs.xml
/Backend/Build
/Frontend/Build